form.grop-from#signup
  .form-head
    span.text 
    i.icon-placeholder
  .form-body
    span.error-text Please Fill Out This Field
    .form-controls
      input#control-name(placeholder="Name")
      input#control-phone(placeholder="Phone No")
      input#control-email(placeholder="Email")
      input#control-password(placeholder="Password" , type="password")
      input#control-password-repeat(placeholder="Confirm Password" , type="password")
  a.form-action
    i.icon-action